body {
  background-color: rgb(176, 200, 154);
  color: rgb(67, 23, 85);
  text-align: center;
  font-family: monospace;
}

.weather-app {
  background-image: url("C:/Users/Phi Ndlovu/Documents/GitHub/Lavender-Weather-App/media/Lavender AM.jpeg");
  background-size: contain;
  background-repeat: round;
  display: block;
  justify-content: center;
  border-top-color: rgb(87, 29, 110);
  border: double 15px rgb(125, 88, 132);
  border-radius: 180px;
  max-width: 650px;
  max-height: 250px;
  margin: 60px auto;
  padding: 20px;
  box-shadow: 0 0 10px 12px rgb(160, 137, 169, 0.6) inset,
    0 0 30px rgb(67, 23, 85);
}

header {
  padding: 5px 0;
  padding-bottom: 0;
}

.city-search-input {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 15px;
  background-color: rgb(193, 216, 172, 0.8);
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
  border: none;
  box-shadow: 0 0 5px rgb(87, 29, 110);
  color: rgb(87, 29, 110, 0.4);
  height: 30px;
  width: 75%;
  font-size: 16px;
  transition: all 250ms ease-in-out;
}

.city-search-input:hover {
  box-shadow: 0 0 10px rgb(125, 88, 132);
  cursor: pointer;
}

.city-search-button {
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border: none;
  box-shadow: 0 0 5px rgb(97, 116, 96);
  background-color: rgb(125, 88, 132);
  color: rgb(193, 216, 172, 0.8);
  height: 20px;
  width: 45%;
  font-size: 16px;
  transition: all 250ms ease-in-out;
}

.city-search-button:hover {
  box-shadow: 0 0 15px rgb(125, 88, 132);
  cursor: pointer;
}

main {
  padding: 5px 0;
  margin: 0 auto;
}

.present-weather {
  display: flex;
  justify-content: center;
  position: relative;
  margin: 0 auto;
  max-width: min-content;
  field-sizing: content;
  overflow: scroll;
}

.present-city {
  color: rgb(87, 29, 110);
  text-shadow: 0 0 20px rgb(193, 216, 172);
  position: relative;
  font-size: 20px;
  margin: 0 auto;
  top: -29px;
}

.present-city-details {
  display: flex;
  justify-content: space-evenly;
  position: relative;
  bottom: 34px;
}

.forecast {
  background-color: rgb(255, 255, 255);
  position: relative;
  border: 7px solid rgb(193, 216, 172, 0.8);
  box-shadow: 0 0 5px rgb(125, 88, 132, 0.6) inset, 0 0 10px rgb(87, 29, 110);
  border-radius: 180px;
  width: 30px;
  height: 30px;
  font-size: 25px;
  transition: all 400ms ease-in-out;
}

.forecast:hover {
  box-shadow: 0 0 20px rgb(125, 88, 132);
  cursor: pointer;
}

.forecast:hover + .hover-display {
  display: block;
  font-size: 16px;
  text-shadow: 0 0 7px rgb(176, 200, 154);
}

.hover-display {
  display: none;
  position: absolute;
  justify-content: center;
  left: 20px;
  top: 35px;
  z-index: 1;
}

.left-display-disc {
  position: relative;
  background-color: rgb(255, 255, 255);
  border: 7px solid rgb(193, 216, 172, 0.8);
  box-shadow: 0 0 5px rgb(125, 88, 132, 0.6) inset, 0 0 10px rgb(87, 29, 110);
  border-radius: 180px;
  width: 110px;
  height: 110px;
  transition: all 400ms ease-in-out;
}

.left-display-disc:hover {
  background-image: radial-gradient(
    rgb(176, 200, 154, 0.4) 0%,
    rgb(255, 255, 255) 100%
  );
  box-shadow: 0 0 20px rgb(125, 88, 132);
  cursor: pointer;
}

#present-date {
  position: relative;
  top: 5px;
  font-size: 20px;
}

#present-date:hover {
  transform: scale(1.15);
}

#present-conditions {
  font-size: 15px;
}

.central-display-disc {
  position: relative;
  background-color: rgb(255, 255, 255);
  background-size: contain;
  border: 7px solid rgb(193, 216, 172, 0.8);
  box-shadow: 0 0 5px rgb(125, 88, 132, 0.6) inset, 0 0 10px rgb(87, 29, 110);
  border-radius: 180px;
  width: 135px;
  height: 135px;
  bottom: 25px;
  font-size: 20px;
  transition: all 400ms ease-in-out;
}

.central-display-disc:hover {
  background-image: radial-gradient(
    rgb(176, 200, 154, 0.4) 0%,
    rgb(255, 255, 255) 100%
  );
  box-shadow: 0 0 20px rgb(125, 88, 132);
  cursor: pointer;
}

#present-temperature-value {
  font-size: 90px;
  transition: all 400ms ease-in-out;
}

#present-temperature-value:hover {
  transform: scale(1.2);
}

#present-temperature-unit {
  position: relative;
  top: -18px;
  font-size: 15px;
}

#present-temperature-icon {
  position: relative;
  font-size: 20px;
  top: -18px;
}

.right-display-disc {
  background-color: rgb(255, 255, 255);
  position: relative;
  border: 7px solid rgb(193, 216, 172, 0.8);
  box-shadow: 0 0 5px rgb(125, 88, 132, 0.6) inset, 0 0 10px rgb(87, 29, 110);
  border-radius: 180px;
  width: 110px;
  height: 110px;
  font-size: 16px;
  transition: all 400ms ease-in-out;
}

.right-display-disc:hover {
  background-image: radial-gradient(
    rgb(176, 200, 154, 0.4) 0%,
    rgb(255, 255, 255) 100%
  );
  box-shadow: 0 0 20px rgb(125, 88, 132);
  cursor: pointer;
}

#present-humidity {
  position: relative;
  font-size: 20px;
}

#present-humidity:hover {
  transform: scale(1.2);
}

#present-wind {
  position: relative;
  font-size: 20px;
}

#present-wind:hover {
  transform: scale(1.2);
}

.footer-notes {
  background-color: rgb(255, 255, 255);
  position: relative;
  border: 7px solid rgb(193, 216, 172, 0.8);
  box-shadow: 0 0 5px rgb(125, 88, 132, 0.6) inset, 0 0 10px rgb(87, 29, 110);
  border-radius: 180px;
  border-radius: 180px;
  width: 30px;
  height: 30px;
  font-size: 25px;
  transition: all 400ms ease-in-out;
}

.footer-notes:hover {
  box-shadow: 0 0 20px rgb(125, 88, 132);
  cursor: pointer;
}

.info-dropdown-content {
  display: none;
  position: absolute;
  text-decoration: none;
  text-align: left;
  font-size: 15px;
  right: 0;
  bottom: 43px;
}

.chibi-detail {
  text-decoration: none;
  transition: all 200ms ease-in;
}

.chibi-detail:hover {
  background-image: radial-gradient(
    ellipse,
    rgb(176, 200, 154, 0.6) 0%,
    rgb(67, 23, 85, 0.3) 100%
  );
  border: none;
  border-radius: 180px;
  padding: 2px;
  cursor: pointer;
}

.reveal {
  display: block;
}

@media screen and (max-width: 767px) {
  .present-weather
    .present-city
    .present-city-details
    .forecast
    .left-display-disc
    .central-display-disc
    .right-display-disc
    .footer-notes {
    width: min-content;
  }
}
